  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Hi, I'm Carlos Hernandez Martinez</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">I'am Junior Developer Backend and Devops</h5>
        </div>
        <div class="row center">
          <a href="/contact" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Contact me游불</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://user-images.githubusercontent.com/42922067/172028504-b7bb9dd7-a2e0-40b0-a8da-ef5c849047ce.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">logo_dev</i></h2>
            <h5 class="center">Node Js</h5>

            <p class="light">Code, teste and operate node.js based services
              Effectively use tools and ingenuity to identify and fix defectss.
            </p>
            <p class="light">Contribute to team and organizational improvements in process and infrastructure
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">javascript</i></h2>
            <h5 class="center">JavaScript</h5>

            <p class="light">Conocimiento resolviendo problemas de "renderizado" entre diferentes navegadores.
              Conocimiento en Responsive Web Design.
              Conocimiento de WordPress
              jQuery, Git, JavaScript/ES6.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">attractions</i></h2>
            <h5 class="center">Kubernetes</h5>
            <p class="light">Implementaci칩n de Servicios Cloud (Azure, AWS, Google, Oracle)
              Infraestructura virtualizada (Hiper-V, VMWare, KVM)
              Manejo alguna soluci칩n tipo APM (Monitoreo de rendimiento de Aplicaciones)
              Administraci칩n de JBoss, WebLogic, Glassfish y Wildfly</p>

          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text">Our lives are defined by opportunities, even the ones we miss.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://user-images.githubusercontent.com/42922067/172028583-c000562b-7809-41db-8bb2-f9e15f88a02e.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About me</h4>
          <p class="left-align light">I am a software engineer who is passionate about making open source contribution more accessible, creating technology to uplift people and build community. Some technologies I enjoy working with include NodeJS,JavaScript, APIs and Kubernets.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://user-images.githubusercontent.com/42922067/172028606-abc19234-2fff-4485-a8ac-d1ec7e7ea901.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">More Me</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/carlosIAtI">GitHub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/carlos-hernandez-88a237181/">Linkedln</a></li>
            <!-- <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li> -->
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">Charlyhm_</a>
      </div>
    </div>
  </footer>
